.App {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.App-link {
  margin: 10px 0px;
  color: #03ad91;
  font-size: 25px;
}

.wrapper {
  width: 500px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 20px 20px 0 rgba(69, 90, 100, 0.08);
  background-color: white;
}
.wrapper .right-side {
  width: 35%;
  padding: 30px 25px;
  background: #02836d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .right-side img {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 150px;
}

.wrapper .right-side h4 {
  font-size: 20px;
}

.wrapper .left-side {
  width: 65%;
  padding: 0px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: flex-start;
}

.wrapper .left-side .panel-info {
  width: 100%;
}
.wrapper .left-side .panel-info h3 {
  font-size: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #3e3e3e;
  text-align: left;
}

.wrapper .left-side .panel-info .inf {
  display: flex;
  justify-content: space-between;
}

.wrapper .left-side .panel-info .item {
  width: 45%;
  text-align: left;
}

.wrapper .left-side .panel-info .item h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.wrapper .left-side .panel-info .item p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #6d7379;
  text-transform: capitalize;
}
